.form-regul{
  max-width: 560px;
  max-height: 655px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 16px;
}
.form-top{
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px 16px 0px 0px;
  border-bottom: 1px solid #EAECF0;
  border-top: 1px solid #eaecf000;
  padding: 0 16px 0 32px;
}
.form-top__close{
  display: block;
  width: 24px;
  height: 26px;
  background-image: url(/src/assets/img/Union.svg);
  background-size: 14px 14px;;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.form-middle{
  padding: 24px 32px 24px 32px;
  flex-grow: 1;
  border-bottom: 1px solid #EAECF0;
}
.cart-info{
  height: 68px;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.cart-info__img{
  background: #626262;
  height: 68px;
  width: 102px;
  border-radius: 6px;
  margin-right: 20px;
}
.cart-info__text{
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart-info__title{
  margin-bottom: 3px;
  line-height: 25px;
}
.appraisal{
  width: 100%;
  margin-bottom: 28px;
}
.appraisal__list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.appraisal__item{
  width: 200px;
  height: 60px;
}
.appraisal-item__title{
  margin-bottom: 7px;
}
.appraisal-stars__list{
  display: flex;
  //column-gap: 2px;
}
.appraisal-stars__item{
  position: relative;
  width: 34px;
  height: 32px;
  mask-image: url(/src/assets/img/Star.svg);
  mask-size: 22px, 22px;
  mask-repeat: no-repeat;
  mask-position: 5px center;
  background-color: #EAECF0;
  cursor: pointer;

  &.appraisal-stars__item_activ{
    background-color: #53C6D1;
  }
}


.comment{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 16px;
}
.comment__textarea{
  height: 100px;
  width: 100%;
  padding: 12px;
  background: #FAFAFA;
  border: 1px solid #EAECF0;
  border-radius: 6px;
  margin-bottom: 4px;
  resize: none;
  &::placeholder{
    opacity: 1;
  }
}
.photo{

}
.photo__list{
  position: relative;
  display: flex;
  column-gap: 8px;
  width: min-content;
}
.photo__item{
  border-radius: 6px;
  overflow: hidden;
  width: 80px;
  height: 80px;
  background: #F3F4F6;

  &.photo__item_add{
    border: 1px solid #EAECF0;
    background-image: url(/src/assets/img/plus.svg);
    background-size: 14px 14px;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.photo__img{
  height: 100%;
  width: 100%;
}
.delete-photo{
  position: absolute;
  width: 32px;
  height: 32px;
  right: 8px;
  top: 8px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  background-image: url(/src/assets/img/delete.svg);
  background-size: 14px 18px;;
  background-position: center center;
  background-repeat: no-repeat;

}

.form-bottom{
  width: 100%;
  height: 68px;
  border-radius: 0px 0px 16px 16px;
  padding: 0 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.form-bottom__btn-submit{
  display: flex;
  align-items: center;
  padding: 8px 12px;

  width: 105px;
  height: 36px;

  background: #53C6D1;
  border-radius: 6px;
  cursor: pointer;
  &:focus {outline:none;}
}
