.form-regul{
  height: min-content;
  max-width: 560px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 16px;

  @include phones{
    max-width: 320px;
    border-radius: 16px 16px 0 0;

    &.form_step_2{
      border-radius: 0px;
    }
  }
}
.form-top{
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px 16px 0px 0px;
  border-bottom: 1px solid #EAECF0;
  border-top: 1px solid #eaecf000;
  padding: 0 16px 0 32px;

  @include phones{
    padding: 16px;
    border: none;

    &.form-top_step_2{
      border-bottom: 1px solid #EAECF0;
      border-top: 1px solid #eaecf000;
      border-radius: 0;
    }
  }
}
.form-top__close{
  display: block;
  width: 24px;
  height: 26px;
  background-image: url(/src/assets/img/Union.svg);
  background-size: 14px 14px;;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.form-middle{
  padding: 24px 32px 24px 32px;
  flex-grow: 1;
  border-bottom: 1px solid #EAECF0;
  @include phones{
    padding: 16px;
    padding-top: 0;
  }
}
.cart-info{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 32px;

  @include phones{
    margin-bottom: 17px;
  }
}
.cart-info__img{
  background: #626262;
  height: 68px;
  width: 102px;
  border-radius: 6px;
  margin-right: 20px;
  @include phones{
    height: 56px;
    width: 84px;
  }
}
.cart-info__text{
  height: 44px;
  display: flex;
  margin: 10px 0;
  flex-direction: column;
  justify-content: space-between;

  @include phones{
    margin-top: 12px;
    margin-bottom: 8px;
  }
}
.cart-info__title{
  line-height: 25px;
}
.appraisal{
  width: 100%;
  margin-bottom: 28px;

  @include phones{
    margin-bottom: 0;
    
  }
}
.appraisal__list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @include phones{
    gap: 16px;
  }
}
.appraisal__item{
  width: 200px;
  height: 60px;
}
.appraisal-item__title{
  margin-bottom: 7px;
}
.appraisal-stars__list{
  display: flex;
  
  @include phones{
    gap: 4px
  }
}
.appraisal-stars__item{
  position: relative;
  width: 34px;
  height: 32px;
  mask-image: url(/src/assets/img/Star.svg);
  mask-size: 22px, 22px;
  mask-repeat: no-repeat;
  mask-position: 5px center;
  background-color: #EAECF0;
  cursor: pointer;

  &.appraisal-stars__item_activ{
    background-color: #53C6D1;
  }

  @include phones{
    width: 32px;
    height: 32px;
  }
}


.comment{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 16px;

  @include phones{
    margin-top: 14px;
  }
}
.comment__textarea{
  height: 100px;
  width: 100%;
  padding: 12px;
  padding-left: 11px;
  background: #FAFAFA;
  border: 1px solid #EAECF0;
  border-radius: 6px;
  margin-bottom: 4px;
  resize: none;
  &::placeholder{
    opacity: 1;
  }

  @include phones{
    height: 146px;
    padding-top: 16px;
  }
}
.photo{

}
.photo__list{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  
  max-width: max-content;
}
.photo__item{
  border-radius: 6px;
  overflow: hidden;
  width: 80px;
  height: 80px;
  background: #F3F4F6;

  &.photo__item_add{
    border: 1px solid #EAECF0;
    background-image: url(/src/assets/img/plus.svg);
    background-size: 14px 14px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

.photo__img{
  height: 100%;
  width: 100%;
}
.delete-photo{
  position: absolute;
  width: 32px;
  height: 32px;
  right: 8px;
  top: 8px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  background-image: url(/src/assets/img/delete.svg);
  background-size: 14px 18px;;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;

}

.form-bottom{
  width: 100%;
  height: 66px;
  border-radius: 0px 0px 16px 16px;
  padding: 0 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include phones{
    border-radius: 0 0 0 0;
    height: 69px;
    padding: 16px;
    border-top: 15px;

    &.from-bottom_step_2{
      height: 68px;
    }
  }
}
.form-bottom__btn-submit{
  display: flex;
  align-items: center;
  padding: 8px 12px;

  width: 105px;
  height: 36px;

  background: #53C6D1;
  border-radius: 6px;
  cursor: pointer;
  &:focus {outline:none;}
}
.step_1, .step_2{
  display: flex;
  flex-direction: column;
}
.step_1{
  height: 573px;
}

.step_2{
  height: 624px;
}
.form_step_1{
  margin-top: 56px;
  height: 573px;
}
.form_step_2{
  margin-top: 0px;
  height: 629px;
}
.form-bottom__btn-next{
  display: flex;
  align-items: center;
  padding: 8px 12px;
  width: 120px;
  height: 36px;
  background: #53C6D1;
  border-radius: 6px;
  cursor: pointer;
}

.form-top_step_2_wrap-title{
  display: flex;
}
.step-back{
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  background-image: url(/src/assets/img/arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px 16px;
  cursor: pointer;
}